DB_USERNAME=your username
DB_PASSWORD=your password
DB_DATABASE=your database name
DB_HOST=127.0.0.1
DB_DIALECT=mysql


NODE_ENV=test

TOKEN_KEY=your token secret
#Api response codes
INVALID_LOGIN=80
INVALID_CUSTOMER=70
USER_EXIST=24
INVALID_METER=21
METER_IN_USE=22
ERROR=23
SUCCESS=20

#Port declarations
HTTPS_PORT=5001
HTTP_PORT=5002
